{% extends 'management_app/base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h1>Welcome to the Admin Dashboard</h1>

<h2>Statistics:</h2>
<ul>
    <li>Number of Courses: {{ course_count }}</li>
    <li>Number of Subjects: {{ subject_count }}</li>
    <li>Number of Students: {{ student_count }}</li>
    <li>Number of Instructors: {{ instructor_count }}</li>
</ul>

<h2>Manage Entities:</h2>
<ul>
    <li><a href="{% url 'management_app:course_list' %}">Manage Courses</a></li>
    <li><a href="{% url 'management_app:course_list' %}">Manage Subjects</a></li>
    <li><a href="{% url 'management_app:course_list' %}">Manage Students</a></li>
    <li><a href="{% url 'management_app:course_list' %}">Manage Instructors</a></li>
</ul>
{% endblock %}
